.providers-box {
    .frx-info-card-list-item-root__column2 {
        color: #2055B5 !important;
        font-weight: bold;
        font-size: 12px;
        line-height: 14px;
        border-bottom: 1px dashed #2055B5 !important;
    }
}