.frx-mytask-grid-view {
  width: calc(100% - 100px);
  margin: 20px auto 40px;
  .opentask-action {
    text-align: right;
  }
  .spacer {
    padding: 20px 0;
  }
  .frx-grid-container {
    .ant-table {
      .ant-table-container {
        .ant-table-header {
          .ant-table-thead > tr > th:first-child {
            padding: 16px 16px !important;
            text-align: center !important;
          }
        }
        .ant-table-body {
          .ant-table-tbody {
            .ant-table-cell {
              .frx-grid-cell {
                display: flex;
                max-width: max-content;
                &__icon {
                  display: flex;
                }
              }
            }
          }
        }
      }
    }
  }
}
